<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="$!webPath/th_th/resources/style/mobileWap/css/style.css">
<link href="$!webPath/th_th/resources/style/mobileWap/css/phone.css" rel="stylesheet" type="text/css" />
<link href="$!webPath/th_th/resources/style/mobileWap/css/platform.css" rel="stylesheet" type="text/css" />
<title></title>
<script src="$!webPath/th_th/resources/js/jquery-1.6.2.js"></script>
<script src="$!webPath/th_th/resources/js/TouchSlide.1.1.js"></script>
<script>

function iosFun(cmd,para)
{ 
    document.location="objc://"+cmd+":/"+para;  //cmd代表objective-c中的的方法名，parameter1自然就是参数了
}
</script>
<script>
function save_search(){
	jQuery("#searchForm").submit();
}
</script>
</head>
<body>

<header>
<form id="searchForm" name="searchForm" action="$!webPath/mobileWap/goods_list.htm" method="post">
  <div class="main">
    <div class="logo"><img src="$!webPath/th_th/resources/style/mobileWap/images/logo.png" /></div>
    <input class="search" type="text" id="keyword" name="keyword" />
    <div class="search_btn"><a href="javascript:void(0);" onClick="save_search()">搜索</a></div>
  </div>
</form>  
</header>
 $!httpInclude.include("/mobileWap/advertInvoke.htm?advertPositionId=7")
<div class="main_nav">
  <ul>
    <li><a href="$!webPath/mobileWap/goods_list.htm?keyword="><img src="$!webPath/th_th/resources/style/mobileWap/images/nav_j.png"></a><span id="asd">精品</span></li>
    <li><a href="$!webPath/mobileWap/goods_list.htm?keyword="><img src="$!webPath/th_th/resources/style/mobileWap/images/nav_h.png"></a><span>热卖</span></li>
    <li><a href="$!webPath/mobileWap/goods_list.htm?keyword=&orderBy=goods_current_price&orderType=asc"><img src="$!webPath/th_th/resources/style/mobileWap/images/nav_t.png"></a><span>特惠</span></li>
      <li><a href="$!webPath/mobileWap/goods_list.htm?keyword=&orderBy=goods_seller_time"><img src="$!webPath/th_th/resources/style/mobileWap/images/nav_c.png"></a><span>促销</span></li>
  </ul>
</div>
  <div class="main_list">
    <div class="main_top" style="border-bottom:1px solid #77954d;color:#77954d;">精品推荐<span><a href="$!webPath/mobileWap/goods_list.htm?keyword=" >更多</a></span></div>
    <div class="main_center">
  <div class="mall_list"> #foreach($obj in $top_recommends)
     #set($img="$!webPath/$!config.goodsImage.path/$!config.goodsImage.name")
      #if($!obj.goods_main_photo)
      #set($big="$!webPath/$!obj.goods_main_photo.path/$!obj.goods_main_photo.name")
      #set($img="$!{big}_small.$!{obj.goods_main_photo.ext}")
      #end
    <ul><a href="$!webPath/mobileWap/goods.htm?id=$!obj.id">
      <li><img src="$!{img}"></li>
      <li class="baby_name">$!obj.goods_name</li>
      <li class="price"><strong>¥$!obj.goods_current_price</strong></li></a>
    </ul>
    
        #end 
    </div>
  </div>
  <div class="main_list">
    <div class="main_top" style="border-bottom:1px solid #658DBA;color:#658DBA;">商城热卖<span><a href="$!webPath/mobileWap/goods_list.htm?keyword=" >更多</a></span></div>
    <div class="main_l_show"> 
  <div class="mall_list">#foreach($obj in $goods_hots)
      #set($img="$!webPath/$!config.goodsImage.path/$!config.goodsImage.name")
      #if($!obj.goods_main_photo)
      #set($big="$!webPath/$!obj.goods_main_photo.path/$!obj.goods_main_photo.name")
      #set($img="$!{big}_small.$!{obj.goods_main_photo.ext}")
      #end
     <ul>
      <li><a href="$!webPath/mobileWap/goods.htm?id=$!obj.id"><img src="$!{img}"></a></li>
      <li class="baby_name"><a href="$!webPath/mobileWap/goods.htm?id=$!obj.id">$!obj.goods_name</a></li>
      <li class="price"><strong>¥$!obj.goods_current_price</strong></li>
    </ul>
    
        #end </div>
  </div>
</div>
<!--main end -->
<!--聚划算 start -->
#if($!activitygoods.size()>0)
<div class="jhs">
  <div class="main_top" style="border-bottom:1px solid #01a1ff;color:#01a1ff;">活动促销<span><a href="$!webPath/mobileWap/goods_list.htm?keyword=">更多</a></span></div>
  <div class="jhs_center"> #foreach($obj in $activitygoods)
    #set($img="$!webPath/$!config.goodsImage.path/$!config.goodsImage.name")
    #if($!obj.ag_goods.goods_main_photo)
    #set($big="$!webPath/$!obj.ag_goods.goods_main_photo.path/$!obj.ag_goods.goods_main_photo.name")
    #set($img="$!{big}_small.$!{obj.ag_goods.goods_main_photo.ext}")
    #end
    <div class="jhs_c_one">
      <dl>
        <dt><a href="javascript:void(0);" #if($!type=="android") onClick="window.jsInterface.gotoGoods('$!obj.ag_goods.id')" #else onClick="iosFun('gotoGoods','$!obj.ag_goods.id')"  #end><img src="$!img"></a></dt>
        <dd></dd>
        <p>¥$!obj.ag_goods.goods_current_price</p>
      </dl>
    </div>
    #end </div>
</div>
#end

#if($!groupgoods.size()>0)
<div class="main_xs">
  <div class="main_top" style="border-bottom:1px solid #DA6986;color:#DA6986;">特惠精品<span><a href="$!webPath/mobileWap/goods_list.htm?keyword=">更多</a></span></div>
  <div class="main_xs_list">
    <ul>
      #foreach($obj in $groupgoods)
      #set($img="$!webPath/$!config.goodsImage.path/$!config.goodsImage.name")
      #if($!obj.gg_img)
      #set($img="$!webPath/$!obj.gg_img.path/$!obj.gg_img.name")
      #end
      <li><a href="javascript:void(0);" #if($!type=="android") onClick="window.jsInterface.gotoGoods('$!obj.gg_goods.id')" #else onClick="iosFun('gotoGoods','$!obj.gg_goods.id')" #end><img src="$!img" ></a></li>
      #end
    </ul>
  </div>
</div>
#end
  <footer>
  <ul>
  </ul>
</footer>

  $!httpInclude.include("/mobileWap/footer.htm")


</body>
</html>


