<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<title>微信商城 - 收货地址列表</title>
<link href="$!webPath/resources/style/mobileWap/css/phone.css" rel="stylesheet" type="text/css" />
<script src="$!webPath/resources/js/jquery-1.6.2.js"></script>
<script>
function address_add(){
	window.location.href="$!webPath/mobileWap/buyer_address_edit.htm";
	}
function address_edit(id){
	window.location.href="$!webPath/mobileWap/buyer_address_edit.htm?addr_id="+id;
	}

function address_del(id){
	jQuery.post("$!webPath/mobileWap/buyer_address_delete.htm",{"addr_id":id},function(data){
		if(data.verify == true){
			window.location.href ="$!webPath/mobileWap/buyer_address.htm";
		}
	},"json");
	}	
</script>
<body>
<div class="page_bottom">
<hgroup>
  <h3 class="goods_car"><a href="javascript:history.go(-1);"><em></em></a><span><b>收货地址</b></span></h3>
</hgroup>
<ul class="add_address">
	#foreach($obj in $json_map.address_list)
    <li>
    <table border="0" cellpadding="0" cellspacing="0" class="address_table_add">
      <tr>
        <td width="90" valign="top" class="add_address_td">收货地址：</td>
        <td>$obj.area $obj.areaInfo</td>
      </tr>
      <tr>
        <td width="90" valign="top" class="add_address_td">邮政编码：</td>
        <td>$obj.zip</td>
      </tr>
      <tr>
        <td  valign="top" class="add_address_td">收&nbsp;货&nbsp;人：</td>
        <td> $obj.trueName</td>
      </tr>
      <tr>
        <td  valign="top" class="add_address_td">电&nbsp;&nbsp;&nbsp;&nbsp;话：</td>
        <td> $!obj.telephone $!obj.mobile </td>
      </tr>
    </table>
    <span class="button_fun">
    <button type="button" class="waitingpay_red_btn right" onClick="address_edit('$!obj.addr_id')">编辑</button>
    <button type="button" class="waitingpay_red_btn right" onClick="address_del('$!obj.addr_id')" >删除</button>
    </span> </li>
    #end
  </ul>
<div class="button_address_box">
  <button type="button" class="add_address_btn" onClick="address_add()">新增收货地址</button>
</div>
</div>
  $!httpInclude.include("/mobileWap/footer.htm")
</body>
</html>
