<div class="mobile-wapper">
<header>
<form id="searchForm" name="searchForm" action="$!webPath/mobileWap/goods_list.htm" method="post">
  <div class="main">
    <div class="logo"><img src="$!webPath/resources/style/mobileWap/images/logo.png" /></div>
    <input class="search" type="text" id="keyword" name="keyword" placeholder="让嘴巴去旅行！" />
    <div class="search_btn"><a href="javascript:void(0);" onClick="save_search()"></a></div>
    <div class="class_search_btn"><a href="$!webPath/mobileWap/goodsclass.htm"></a></div>
  </div>
</form>  
</header>