<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="$!webPath/th_th/resources/style/mobile/css/style.css">
<title></title>
</head>
<body style="background:none;">
<div style=" width:100%;margin-top:50px;">
      <div style=" width:100%; padding-bottom:30px; ">
        <div style=" width:200px; overflow:hidden; margin-left:auto; margin-right:auto; margin-top:30px;">
          <div style="float:left; width:100px; text-align:right"><img src="$!imageWebServer/th_th/resources/style/system/front/default/images/ok.gif" width="70" height="70" /></div>
          <div style=" width:100px; overflow:hidden; font-size:14px; font-weight:bold; margin-top:30px;">
            <ul>
              <li>$!config.closeReason</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
