<div class="index_sale_con" id="index_sale_con_recommend">
        #foreach($!store_recommend_good in $store_recommend_goods)
          <ul class="index_sale_two">
          	  #if($!store_recommend_good.goods_main_photo)
              #set($img="$!imageWebServer/$!{store_recommend_good.goods_main_photo.path}/$!{store_recommend_good.goods_main_photo.name}_middle.$!{store_recommend_good.goods_main_photo.ext}")
              #else
              #set($img="$!imageWebServer/$!{config.goodsImage.path}/$!{config.goodsImage.name}")
              #end
            #set($goods_url="$!webPath/goods_$!{store_recommend_good.id}.htm")
             #if($!config.second_domain_open && $!store_recommend_good.goods_type==1 && $!store_recommend_good.goods_store.store_second_domain!="")
             #set($goods_url="http://$!{store_recommend_good.goods_store.store_second_domain}.$!{domainPath}/goods_$!{store_recommend_good.id}.htm")
             #end
            <li class="sale_two_img"> <a href="$!goods_url" target="_blank"> <span class="img_cspan">
              <p><img src="$!img" width="170" height="170" /></p>
              </span></a> </li>
            <li class="sale_two_name"><a href="$!goods_url">$!store_recommend_good.goods_name</a></li>
            <li class="sale_two_price">#springMessage("sms.switch_like_goods.sell_price")<!-- 售价： --><strong>¥$!store_recommend_good.store_price</strong></li>
          </ul>
        #end
        </div>