<script>
jQuery(function(){ 
   jQuery(".storey_list li").mouseenter(function(){
	  jQuery(".storey_list li").stop();											 
      jQuery(this).parent().parent().find("li").animate({"opacity":"0.2"},{queue:false, duration:1000});
	  jQuery(this).animate({"opacity":"0.9"},{queue:false, duration:1000});
   }).mouseleave(function(){
	  jQuery(".storey_list li").stop();
      jQuery(this).animate({"opacity":"0.9"},{queue:false, duration:1000});
   });	
   jQuery(".storey_list").mouseleave(function(){
	  jQuery(".storey_list li").stop();
      jQuery(this).parent().parent().find("li").css("opacity","1.0"); 
	});
   jQuery(".hot_sell_ul li").mouseenter(function(){		
	  jQuery(".hot_sell_ul li").stop();											 
	  jQuery(this).parent().find("li").animate({"opacity":"0.2"},{queue:false, duration:1000});
	  jQuery(this).animate({"opacity":"0.9"},{queue:false, duration:1000});
   }).mouseleave(function(){
	  jQuery(".hot_sell_ul li").stop();
      jQuery(this).animate({"opacity":"1.0"},{queue:false, duration:1000});
   });
   jQuery(".hot_sell_ul").mouseleave(function(){
      jQuery(".hot_sell_ul li").stop();
      jQuery(this).parent().find("li").css("opacity","1.0");
   });
   //
   jQuery(".goods_pic img").lazyload({effect:"fadeIn",width:230,height:230});
   //back_floor
   jQuery(".back_floor>ul>li").click(function(){
	  var id=jQuery(this).attr("floor_id");									   
      var top = jQuery("#"+id).offset().top-80;
      jQuery('body,html').animate({scrollTop:top},1000);
   }); 
})
</script>
<!--蓝色-->
#foreach($floor in $floors)
<div class="storey $!{floor.gf_css}" id="floor_$!{velocityCount}">
  <div class="storey_left">
    <h1><b>$!{velocityCount}F</b><span>$!{floor.gf_name}</span></h1>
    <div class="storey_bd">
      <div class="storey_ul">
        <ul>
          #foreach($gc in $gf_tools.generic_gf_gc("$!floor.gf_gc_list"))
          #foreach($c_gc in $gc.childs)
          <li><a href="$!webPath/store_goods_list_$!{c_gc.id}.htm" target="_blank">$!c_gc.className</a></li>
          #end
          #end
        </ul>
      </div>
      <div class="advert">$!gf_tools.generic_adv("$!web_url","$!floor.gf_left_adv")</div>
    </div>
  </div>
  <div class="storey_right">
    <div class="storey_tab">
      <ul>
        #foreach($info in $floor.childs)
        <li #if($!{velocityCount}==1) class="this" #end style="cursor:pointer;" id="$!{info.id}" store_gc="$!floor.id"><a href="javascript:void(0);">$!{info.gf_name}</a><s></s></li>
        #end
      </ul>
    </div>
    #foreach($info in $floor.childs)
    <div class="storey_list" #if($!{velocityCount}>1) style="display:none;" #end>
      <ul>
        #foreach($goods in $gf_tools.generic_goods("$!info.gf_gc_goods"))
        #if($!goods)
        
        #if($!goods.goods_main_photo)               
        #set($img="$!imageWebServer/$!{goods.goods_main_photo.path}/$!{goods.goods_main_photo.name}_middle.$!{goods.goods_main_photo.ext}")
        #else
        #set($img="$!imageWebServer/$!{config.goodsImage.path}/$!{config.goodsImage.name}")
        #end
        
        #set($goods_url="$!webPath/goods_$!{goods.id}.htm")
        #if($!config.second_domain_open && $!goods.goods_type==1 && $!goods.goods_store.store_second_domain!="")
        #set($goods_url="http://$!{goods.goods_store.store_second_domain}.$!{domainPath}/goods_$!{goods.id}.htm")
        #end
        <li>
          <div class="bd_right">
            <div class="storey_ps">
              <div class="storey_hover"> <span class="goods_name"><a href="$!goods_url" target="_blank">$!{goods.goods_name}</a></span> <span class="goods_price">¥<b>$!{goods.goods_current_price}</b><em>¥$!{goods.goods_price}</em></span> <span class="goods_pic"><a href="$!goods_url" target="_blank"><span class="img_cspan">
                <p><img src="$!imageWebServer/resources/style/common/images/loader.gif" original="$!img"  onerror="this.src='$!webPath/$!{config.goodsImage.path}/$!{config.goodsImage.name}';" width="28" height="28"/></p>
                </span></a></span> </div>
            </div>
          </div>
        </li>
        #end 
        #end
      </ul>
    </div>
    #end
    <div class="hot_sell">
      <div class="hot_sell_br"> #set($map=$!gf_tools.generic_goods_list("$!floor.gf_list_goods"))
        <h2>$!map.get("list_title")</h2>
        <ul class="hot_sell_ul">
          #if($!map.get("goods1"))
          #set($goods=$!map.get("goods1"))
          #if($!goods.goods_main_photo)                   
          #set($img="$!imageWebServer/$!{goods.goods_main_photo.path}/$!{goods.goods_main_photo.name}_small.$!{goods.goods_main_photo.ext}")
          #else
          #set($img="$!imageWebServer/$!{config.goodsImage.path}/$!{config.goodsImage.name}")
          #end
          
          #set($goods_url="$!webPath/goods_$!{goods.id}.htm")
          
          #if($!config.second_domain_open && $!goods.goods_type==1 && $!goods.goods_store.store_second_domain!="")
          #set($goods_url="http://$!{goods.goods_store.store_second_domain}.$!{domainPath}/goods_$!{goods.id}.htm")
          #end
          <li> <em class="number_01"></em> <span class="hot_goods_pic"><a href="$!goods_url" target="_blank"><span class="img_cspan">
            <p><img src="$!img" width="80" height="80" /></p>
            </span></a></span>
            <div class="hot_describe">
              <p class="hot_goods_promo">已售$!{goods.goods_salenum}件</p>
              <p class="hot_goods_name"><a href="$!goods_url" target="_blank">$!goods.goods_name</a></p>
              <p class="hot_goods_price">¥<b>$!{goods.goods_current_price}</b></p>
            </div>
          </li>
          #end
          #if($!map.get("goods2"))
          #set($goods=$!map.get("goods2"))
          #if($!goods.goods_main_photo)                   
          #set($img="$!imageWebServer/$!{goods.goods_main_photo.path}/$!{goods.goods_main_photo.name}_small.$!{goods.goods_main_photo.ext}")
          #else
          #set($img="$!imageWebServer/$!{config.goodsImage.path}/$!{config.goodsImage.name}")
          #end
          
          #set($goods_url="$!webPath/goods_$!{goods.id}.htm")
          
          #if($!config.second_domain_open && $!goods.goods_type==1 && $!goods.goods_store.store_second_domain!="")
          #set($goods_url="http://$!{goods.goods_store.store_second_domain}.$!{domainPath}/goods_$!{goods.id}.htm")
          #end
          <li> <em class="number_02"></em> <span class="hot_goods_pic"><a href="$!goods_url" target="_blank"><img src="$!img" width="80" height="80"/></a></span>
            <div class="hot_describe">
              <p class="hot_goods_promo">已售$!{goods.goods_salenum}件</p>
              <p class="hot_goods_name"><a href="$!goods_url" target="_blank">$!goods.goods_name</a></p>
              <p class="hot_goods_price">¥<b>$!{goods.goods_current_price}</b></p>
            </div>
          </li>
          #end
          #if($!map.get("goods3"))
          #set($goods=$!map.get("goods3"))
          #if($!goods.goods_main_photo)                   
          #set($img="$!imageWebServer/$!{goods.goods_main_photo.path}/$!{goods.goods_main_photo.name}_small.$!{goods.goods_main_photo.ext}")
          #else
          #set($img="$!imageWebServer/$!{config.goodsImage.path}/$!{config.goodsImage.name}")
          #end
          
          #set($goods_url="$!webPath/goods_$!{goods.id}.htm")
          
          #if($!config.second_domain_open && $!goods.goods_type==1 && $!goods.goods_store.store_second_domain!="")
          #set($goods_url="http://$!{goods.goods_store.store_second_domain}.$!{domainPath}/goods_$!{goods.id}.htm")
          #end
          <li> <em class="number_03"></em> <span class="hot_goods_pic"><a href="$!goods_url" target="_blank"><img src="$!img" width="80" height="80"/></a></span>
            <div class="hot_describe">
              <p class="hot_goods_promo">已售$!{goods.goods_salenum}件</p>
              <p class="hot_goods_name"><a href="$!goods_url" target="_blank">$!goods.goods_name</a></p>
              <p class="hot_goods_price">¥<b>$!{goods.goods_current_price}</b></p>
            </div>
          </li>
          #end
          #if($!map.get("goods4"))
          #set($goods=$!map.get("goods4"))
          #if($!goods.goods_main_photo)                   
          #set($img="$!imageWebServer/$!{goods.goods_main_photo.path}/$!{goods.goods_main_photo.name}_small.$!{goods.goods_main_photo.ext}")
          #else
          #set($img="$!imageWebServer/$!{config.goodsImage.path}/$!{config.goodsImage.name}")
          #end
          
          #set($goods_url="$!webPath/goods_$!{goods.id}.htm")
          
          #if($!config.second_domain_open && $!goods.goods_type==1 && $!goods.goods_store.store_second_domain!="")
          #set($goods_url="http://$!{goods.goods_store.store_second_domain}.$!{domainPath}/goods_$!{goods.id}.htm")
          #end
          <li> <em class="number_04"></em> <span class="hot_goods_pic"><a href="$!goods_url" target="_blank"><img src="$!img" width="80" height="80"/></a></span>
            <div class="hot_describe">
              <p class="hot_goods_promo">已售$!{goods.goods_salenum}件</p>
              <p class="hot_goods_name"><a href="$!goods_url" target="_blank">$!goods.goods_name</a></p>
              <p class="hot_goods_price">¥<b>$!{goods.goods_current_price}</b></p>
            </div>
          </li>
          #end
          #if($!map.get("goods5"))
          #set($goods=$!map.get("goods5"))
          #if($!goods.goods_main_photo)                   
          #set($img="$!imageWebServer/$!{goods.goods_main_photo.path}/$!{goods.goods_main_photo.name}_small.$!{goods.goods_main_photo.ext}")
          #else
          #set($img="$!imageWebServer/$!{config.goodsImage.path}/$!{config.goodsImage.name}")
          #end
          
          #set($goods_url="$!webPath/goods_$!{goods.id}.htm")
          
          #if($!config.second_domain_open && $!goods.goods_type==1 && $!goods.goods_store.store_second_domain!="")
          #set($goods_url="http://$!{goods.goods_store.store_second_domain}.$!{domainPath}/goods_$!{goods.id}.htm")
          #end
          <li> <em class="number_05"></em> <span class="hot_goods_pic"><a href="$!goods_url" target="_blank"><img src="$!img" width="80" height="80"/></a></span>
            <div class="hot_describe">
              <p class="hot_goods_promo">已售$!{goods.goods_salenum}件</p>
              <p class="hot_goods_name"><a href="$!goods_url" target="_blank">$!goods.goods_name</a></p>
              <p class="hot_goods_price">¥<b>$!{goods.goods_current_price}</b></p>
            </div>
          </li>
          #end
        </ul>
      </div>
    </div>
  </div>
</div>
#end
<div class="back_box_x" style="display:none;">
  <div class="back_floor">
    <ul>
      #foreach($floor in $floors)
      <li  floor_id="floor_$!{velocityCount}"><a href="javascript:void(0);"><b>
      #if(!$!floor.icon)
      <img src="$!webPath/resources/style/system/front/default/images/left_nav.png"/>
      #else
      <img src="$!webPath/$!{floor.icon.path}/$!{floor.icon.name}"/>
      #end
      </b><span>$!{floor.gf_name}</span></a></li>
      #end
    </ul>
  </div>
</div>
